@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо на сайт, де ми допоможемо знайти шлях між двома адресами.</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    @*<img src="https://maps.google.com/maps/api/staticmap?key=AIzaSyDikeBAymgSWrWz-9Y7Danr2mNewZV_MwI&zoom=14&size=1000x1000&path=color%3Ared%7C40.7422598%2C-74.0061511%7C40.7367061%2C-73.9929726%7C40.7638698%2C-73.9731727">*@
    <p style="color:red;font-size:30px">@Model.ErrorMessage</p>

    <form style="margin:3%" method="post">
        <input type="text" name="addresFrom" placeholder="Адреса відправки"/>
        <input type="text" name="addresTo" placeholder="Адреса прибуття"/>
        <select name="select">
            <option selected value="car">На машині</option>
            <option value="bicycle">На велосипеді</option>
            <option value="walk">Пішки</option>
        </select>
        <input type="submit" value="Пошук" />
    </form>
    @if (Model.CanShow)
    {
        <table style="border: 1px solid transparent" align="center" >
            <tr>
                <td>
                    <figure style="margin: 0 10px 10px 0">
                        <figcaption style="text-align:center;font-size: 150%">Відображення шляху, використовуючи StartPoints та EndРoints</figcaption>
                        <img width="500" height="500" src=@Model.ImagePathSrc>
                    </figure>
                </td>
                <td>
                    <figure style="margin: 0 10px 10px 0">
                        <figcaption style="text-align:center;font-size: 150%">Відображення шляху, використовуючи  SnapToRoad з StartPoints та Endpoints із Direction</figcaption>
                        <img width="500" height="500" src=@Model.ImageSnapPathSrc>
                    </figure>
                </td>
            </tr>
            <tr>
                <td>
                    <figure style="margin: 0 10px 10px 0">
                        <figcaption style="text-align:center;font-size: 150%">Відображення шляху, використовуючи  PolylineEncoding із Direction</figcaption>
                        <img width="500" height="500" src=@Model.ImagePolylineSrc>
                    </figure>
                </td>
                <td>
                    <figure style="margin: 0 10px 10px 0">
                        <figcaption style="text-align:center;font-size: 150%">Відображення шляху, використовуючи  SnapToRoad з PolylineEncoding із Direction</figcaption>
                        <img width="500" height="500" src=@Model.ImageSnapPolylineSrc>
                    </figure>
                </td>
            </tr>
        </table>

        <figure>
            <figcaption style="text-align:center;font-size: 150%">Відображення шляху, використовуючи  Maps Embed API </figcaption>
            <iframe width="500" height="500" style="border:0" loading="lazy" align="middle" src=@Model.ImageDynamicSrc></iframe>
        </figure>
    }

    @if (Model.Steps != null)
        for (int i = 0; i < Model.Steps.Count(); i++)
        {
            var step = Model.Steps[i];
            <figure style="caption-side: top; margin-top: 10px">
                <figcaption style = "font-size: 200%"><b>@(i+1).</b> @Html.Raw(step.Description)</figcaption>
                <img src=@step.Src>
            </figure>
        }
</div>